.km-flat .km-rowinsert,
.km-flat .km-state-active,
.km-flat .km-scroller-pull,
.km-flat .k-slider-selection,
.km-flat .km-touch-scrollbar,
.km-flat .km-pages .km-current-page,
.km-flat .k-slider .k-draghandle,
.km-flat .k-slider .k-draghandle:hover,
.km-flat .km-tabstrip .km-state-active,
.km-flat .km-scroller-refresh.km-load-more,
.km-flat .km-popup .k-state-hover,
.km-flat .km-popup .k-state-focused,
.km-flat .km-popup .k-state-selected,
.km-flat .km-actionsheet > li > a:active,
.km-flat .km-actionsheet > li > a:hover,
.km-flat li.km-state-active .km-listview-link,
.km-flat li.km-state-active .km-listview-label,
.km-flat .km-listview-label input[type=radio]:checked,
.km-flat .km-listview-label input[type=checkbox]:checked {
  background: #4d4d4d;
}

.km-flat,
.km-flat .km-navbar,
.km-flat .k-toolbar,
.km-flat .km-detail,
.km-flat .km-content {
  background-color: #fff;
}

.km-rightitem {
  right: 0;
}

.km-leftitem {
  left: 0;
}

.km-flat .km-loader {
  background-color: rgba(0, 0, 0, .75);
}

.km-flat .km-loader::before {
  background: none;
}

.km-content h1,
.km-content h2,
.km-content h3,
.km-content h4,
.km-content h5,
.km-content h6 {
  color: #4d4d4d;
  font-weight: normal;
}

.km-content h1 {
  font-size: 1.75em;
}

.km-content p {
  color: #333;
  line-height: 1.4;
}

.km-save:after,
.km-save:before {
  content: '\e0bd';
}

.km-flat .km-scroller-pull {
  background: none;
}

.km-flat .km-scroller-pull .km-icon {
  color: #4c5356;
}

.km-root .km-flat .km-scroller-refresh span:not(.km-template) {
  background: #4c5356;
}

#kendo-ui-mobile-app textarea,
#kendo-ui-mobile-app select {
  width: 100%;
}

#kendo-ui-mobile-app textarea {
  height: 5.5em;
  border: 0 none;
  font-family: 'HelveticaNeue Light', 'Roboto Light', 'Slate Light', 'Segoe WP', NokiaPureTextLight, sans-serif;
  resize: none;
}

#kendo-ui-mobile-app .image-with-text img {
  float: left;
  margin-right: 15px;
}

#kendo-ui-mobile-app .button-block,
#kendo-ui-mobile-app .block {
  display: block;
  margin: 1em;
  padding: .5em;
  text-align: center;
}

#kendo-ui-mobile-app.km-black-translucent-status-bar .km-header {
  min-height: 1.35em;
  background-color: #4d4d4d;
}

#kendo-ui-mobile-app.km-black-translucent-status-bar .km-header .km-navbar {
  margin-top: 1.35em;
  padding-top: 0;
}

#kendo-ui-mobile-app .footer {
  display: block;
  padding: .5em;
  color: #bbb;
  text-align: center;
}

#kendo-ui-mobile-app .km-button {
  border-width: 0;
  border-radius: 0;
}

#kendo-ui-mobile-app .km-navbar .km-button {
  background: none;
}

#kendo-ui-mobile-app .km-navbar .km-button .km-icon {
  margin: 0;
}

#kendo-ui-mobile-app .km-navbar .km-button .km-icon:before {
  display: none;
}

#kendo-ui-mobile-app .km-navbar .km-button .km-text {
  display: none;
}

#kendo-ui-mobile-app .km-navbar .km-button.km-state-active {
  color: inherit;
}

#kendo-ui-mobile-app .km-back {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

#kendo-ui-mobile-app .button {
  padding: 1em .5em;
  color: #fff;
  background-color: #3277d5;
}

#kendo-ui-mobile-app .button.km-state-active {
  background-color: #2568c2;
}

#kendo-ui-mobile-app .button small {
  display: block;
  margin-top: .35em;
}

#kendo-ui-mobile-app .button-caution {
  background-color: #df1962;
}

#kendo-ui-mobile-app .button-caution.km-state-active {
  background-color: #c80f53;
}

#kendo-ui-mobile-app .button-submit {
  color: white;
  background-color: #10c4b2;
}

#kendo-ui-mobile-app .button-group {
  display: table;
  width: 100%;
  border-spacing: 1em;
  border-collapse: separate;
}

#kendo-ui-mobile-app .button-block {
  display: block;
}

#kendo-ui-mobile-app .group-separator {
  border: none;
  background: transparent;
}

#kendo-ui-mobile-app .group-separator-header {
  margin: 1em 0;
}

#kendo-ui-mobile-app .app-icon {
  margin: 3em 0;
  text-align: center;
}

#kendo-ui-mobile-app .km-current:after {
  content: '\e0bb';
  -webkit-text-fill-color: #00f;
  color: #00f;
}

#kendo-ui-mobile-app .km-pending:after {
  content: '\e08d';
  -webkit-text-fill-color: #ffa500;
  color: #ffa500;
}

#kendo-ui-mobile-app .km-delivered:after {
  content: '\e030';
  -webkit-text-fill-color: #008000;
  color: #008000;
}

#kendo-ui-mobile-app .km-problem:after {
  content: '\e031';
  -webkit-text-fill-color: #f00;
  color: #f00;
}

.loading,
.no-data {
  margin: 1em;
}

.no-data {
  color: #777;
  font-size: 1.25em;
}

.hidden {
  display: none;
}

.app-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 1000;
  background-color: #000;
}

.status-online strong {
  color: #008000;
}

.status-offline strong {
  color: #f00;
}

.delivery-details,
.edit-delivery-details {
  padding: 1.25em 1em 1em;
}

.delivery-details .item,
.edit-delivery-details .item {
  margin: 0 0 1.5em;
}

.item-label {
  display: block;
  margin: 0 0 .35em;
  padding: 0 0 .35em;
  border-bottom: 1px solid #e2e2e2;
  color: #878787;
}

.item-value {
  display: block;
  font-size: 1.25em;
}

.item-img {
    display: block;
    padding: 10px 0;
}

.item-img img {
    display: block;
    width: 100%;
}

.item-value .km-icon {
  width: 1em;
  height: 1em;
  font-size: 1em;
  margin-left: -.3em;
  vertical-align: baseline;
  display: inline-block;
  background-size: auto 100%;
}

.bottom_aligner {
  display: inline-block;
  width: 0;
  height: 100%;
  vertical-align: bottom;
}

.list-deliveries li {
  display: table;
  width: 100%;
  padding: 1em;
}

.list-deliveries .icon,
.list-deliveries .content {
  display: table-cell;
}

.list-deliveries .icon {
  width: 2em;
  padding: .2em;
  vertical-align: middle;
}

.list-deliveries .km-icon {
  font-size: 1.5em;
}

.list-deliveries .content {
  float: left;
  width: 100%;
}

.list-deliveries .title,
.list-deliveries .address,
.list-deliveries .postcode {
  display: block;
}

.list-deliveries .title {
  margin-bottom: .5em;
  font-size: 1.25em;
}
.list-deliveries .title small {
  font-size: .65em;
}

.list-deliveries .address,
.list-deliveries .postcode {
  display: block;
  font-size: .8em;
}

.list-deliveries .address {
  margin-bottom: .35em;
}

.km-on-wp.km-app .km-icon:after,
.km-on-wp.km-app .km-filter-wrap:before,
.km-on-wp.km-app .km-state-active .km-icon:after {
  background-image: url("../images/wp8_inverseicons.png");
}

#kendo-ui-mobile-app.km-on-wp.km-app .km-icon.km-save:after,
#kendo-ui-mobile-app.km-on-wp.km-app .km-icon.km-current:after,
#kendo-ui-mobile-app.km-on-wp.km-app .km-icon.km-pending:after,
#kendo-ui-mobile-app.km-on-wp.km-app .km-icon.km-delivered:after,
#kendo-ui-mobile-app.km-on-wp.km-app .km-icon.km-problem:after {
    content: "";
    background-image: url("../images/wp8_status_icons.png");
}

.km-on-wp.km-app .km-icon.km-current:after {
    background-position-x: 20%;
}

.km-on-wp.km-app .km-icon.km-pending:after {
    background-position-x: 45%;
}

.km-on-wp.km-app .km-icon.km-delivered:after {
    background-position-x: 70%;
}

.km-on-wp.km-app .km-icon.km-problem:after {
    background-position-x: 94%;
}

.dropdownlist {
  position: relative;
  display: block;
  margin-top: 0.5em;
  overflow: hidden;
  width: 100%;
  max-width: 100%;
  border: 1px solid #bbb;
  border-radius: .2em;
  background: #fff;
}

select {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  appearance: none;
  -webkit-appearance: none;
  font-size: 15px;
  background: none;
  border: none;
  color: #4c5356;
  outline: none;
  padding: .4em 19% .4em .8em;
  font-family: helvetica, sans-serif;
  line-height: 1.3;
  margin: .2em;
}

select::-ms-expand {
  display: none;
}

.dropdownlist:after {
  background: none;
  color: #bbb;
  content: "\25BC";
  font-size: .7em;
  padding: 0;
  position: absolute;
  right: 1em;
  top: 1.2em;
  bottom: .3em;
  z-index: 1;
  pointer-events: none;
}

.km-on-wp .dropdownlist:after {
    top: .5em;
}

.dropdownlist:hover {
  border-color: #888;
}
